# Database
DATABASE_URL="postgresql://postgres:p@kistan22june@localhost:5432/school_erp?schema=public"
# JWT / Auth
JWT_ACCESS_SECRET="change-this-access-secret-in-production"
JWT_REFRESH_SECRET="change-this-refresh-secret-in-production"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
JWT_REMEMBER_ME_EXPIRES_IN="30d"

# App
NEXT_PUBLIC_APP_NAME="Bright Future School"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NODE_ENV="development"

# Cookies
COOKIE_SECURE="false"
